.row {
    float: left;
    clear: both;
}
.cell {
    float: left;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, .7);
    margin: 2px;
    text-align: center;
}
.cell.active {
    cursor: pointer;
    border: 1px solid white;
}
:root {
    --red: 174;
    --green: 255;
    --blue: 0;
}
.cell[data-val] {
    text-shadow: 1px 1px 1px black;
}
.cell[data-val="0"] {
    background: rgba(var(--red),var(--green),var(--blue), 0.3);
}
.cell[data-val="1"] {
    background: rgba(var(--red),var(--green),var(--blue), 0.4);
}
.cell[data-val="2"] {
    background: rgba(var(--red),var(--green),var(--blue), 0.5);
}
.cell[data-val="3"] {
    background: rgba(var(--red),var(--green),var(--blue), 0.6);
}
.cell[data-val="4"] {
    background: rgba(var(--red),var(--green),var(--blue), 0.7);
}
.cell[data-val="5"] {
    background: rgba(var(--red),var(--green),var(--blue), 0.8);
}
.cell[data-val="6"] {
    background: rgba(var(--red),var(--green),var(--blue), 0.9);
}
.cell[data-val="7"] {
    background: rgba(var(--red),var(--green),var(--blue), 1);
}